.how-card {
  /* background: linear-gradient(135deg, rgba(7, 99, 238, 0.06), rgba(13, 110, 253, 0.12)); */
  border-radius: 20px;
  padding: 30px;
  border: 1px solid rgba(13, 110, 253, 0.15);
  height: 100%;
}

.how-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.07);
}

.icon-box {
  width: 70px;
  height: 70px;
  background-color: rgba(13, 110, 253, 0.15);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover-card {
  transition: transform .2s ease, box-shadow .2s ease;
}

.hover-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

